$tablet: 1024px;
$mobile: 767px;
$hover_width: 1025px;

$color_white: #fff;
$color_black: #000;
$color_secondary--black: #2A2B30;
$color_blue: #3E9CDC;
$color_grey: #3D4050;
$color_light--grey: #C3C3C3;
$color_grey--border: #6F6D7B;